<headers myText="My Account"></headers>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-avatar class="avatar">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text color="danger">
          <h4>{{name}}</h4>
        </ion-text>
        <ion-text>
          <h4 class="text-muted">{{mobile}}</h4>
        </ion-text>
        <ion-text>
          <h4 class="text-muted">{{mail}}</h4>
        </ion-text>
        <a class="edit-btn" routerLink="/edit-profile"><ion-icon name="create" color="danger"></ion-icon> Edit</a>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footers></footers>
