<ion-content>
  <div class="main-bg">
    <img class="img-fluid" src="assets/images/login-top.png" alt="">
    <div class="welcome">
      <h2>Registration</h2>
      <h4>Create Account to Continue</h4>
    </div>
    <ion-grid style="margin-top: 30px;">
      <ion-row>
        <ion-col size="12">
          <div class="form-group">
            <ion-input class="form-control" placeholder="Name"></ion-input>
            <ion-icon name="person" color="danger" class="form-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="form-group">
            <ion-input class="form-control" type="email" placeholder="Email"></ion-input>
            <ion-icon name="mail" color="danger" class="form-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="form-group">
            <ion-input class="form-control" type="tel" placeholder="Phone"></ion-input>
            <ion-icon name="call" color="danger" class="form-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="form-group">
            <ion-input class="form-control" placeholder="Password" type="Password"></ion-input>
            <ion-icon name="lock-closed" color="danger" class="form-icon"></ion-icon>
          </div>
        </ion-col>  
        <ion-col size="12" class="ion-text-center">
          <ion-button color="danger" class="login-btn" expand="block" mode="ios">SIGN UP <ion-icon class="btn-icon" name="arrow-forward-circle"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h4 class="dont-account"><a href="#">LOGIN Here</a></h4>
    <br>
  </div>
</ion-content>
