<ion-content [fullscreen]="true">
  <div class="top-banner">
    <a href="#">
      <img class="img-fluid" src="assets/images/banner1.png" alt="">
    </a>
  </div>
  <ion-grid>
    <ion-row *ngFor="let item of category_list">
   
      <ion-col size="12">
        <div class="pizza-card bg-yellow">
          <div class="pizza-text">
            <h3>{{item.name}}</h3>
            <h4>{{item.description}}</h4>
          </div>
          <div class="pizza-img">
            <img src="{{item.image}}" alt="">
          </div>
          <ion-router-link class="shop-btn" href="pizza-list">Shop Now <ion-icon name="arrow-forward"></ion-icon></ion-router-link>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<footers></footers>