<headers myText="Edit Profile"></headers>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
         <ion-avatar class="avatar">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
           
        </ion-avatar>
        <ion-icon name="camera" (click)="openCamera()" style="margin-left: 194px; margin-top: -23px;font-size: 27px;"></ion-icon>
      <!-- <ion-icon name="galary" (click)="openFileFromDevice()"></ion-icon> -->
        <div class="form-group">
          <ion-label class="label">First Name</ion-label>
          <ion-input class="form-control" type="text" [(ngModel)]="fname"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="form-group">
          <ion-label class="label">Last Name</ion-label>
          <ion-input class="form-control" type="text" [(ngModel)]="lname"></ion-input>
        </div>
      </ion-col>  
      <ion-col size="12">
        <div class="form-group">
          <ion-label class="label">Phone Number</ion-label>
          <ion-input class="form-control" type="number" [(ngModel)]="phone"></ion-input>
        </div>
      </ion-col>  
      <ion-col size="12">
        <div class="form-group">
          <ion-label class="label">Eamil</ion-label>
          <ion-input class="form-control" type="email" [(ngModel)]="email"></ion-input>
        </div>
      </ion-col>  
      <ion-col size="12" class="ion-text-center">
        <ion-button color="danger" class="login-btn" expand="block" mode="ios" (click)="editProfile()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<footers></footers>